body {
    background-color: #FFDCB9;
     
    
h1 {
    color: black;
    text-align: side;
  }
  
}
  p {
    font-family: verdana;
    font-size: 20px;
  }
  .about {
    position: absolute;
    top: 9px;
    left: 20px;
    text-transform: uppercase;
  }
  about-wrapper {
    position: relative;
    background-color: var(--color-darkgoldenrod);
    border: 1px solid var(--color-darkgray);
    box-sizing: border-box;
    width: 112px;
    height: 42px;
    overflow: hidden;
    flex-shrink: 0;
  }